<!DOCTYPE html>
<html>
  <head>
    <title>Pic</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <div id="photo">
      <img src="https://pixabay.com/get/55e9d1434d57b10ff3d8992cc62c377c173ed9e34e5074417d267bd1944bc6_640.jpg" width="500" height="300" alt="11111">
      <img src="https://pixabay.com/get/57e6d3464d5aaa14f1dc84609629337e173ddfe2554c704c7d2772d4924ec35b_640.jpg" width="500" height="300" alt="">
      <img src="https://pixabay.com/get/5fe5dc454d55b10ff3d8992cc62c377c173ed9e34e5074417d267bd1944bc3_640.jpg" width="500" height="300" alt="">
    </div>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Pic</a></h1>
          <% if user_signed_in? %>
            <div class="user_nav grid-6">
              <span><%= current_user.nickname %>
                <ul class="user__info">
                  <li>
                    <%= link_to "マイページ", "/users/#{current_user.id}" %>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </span>
              <%= link_to  "投稿する", "/tweets/new", class: "post" %>
            </div>
          <% else %>
            <div class="grid-6">
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
            </div>
          <% end %>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>
        Tech::Camp 75期
      </p>
    </footer>
  </body>


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
    $(function(){
        const setImg = '#photo';
        const fadeSpeed = 1600;
        const switchDelay = 5000;

        $(setImg).children('img').css({opacity:'0'});
        $(setImg + ' img:first').stop().animate({opacity:'1',zIndex:'20'},fadeSpeed);

        setInterval(function(){
            $(setImg + ' :first-child').animate({opacity:'0'},fadeSpeed).next('img').animate({opacity:'2'},fadeSpeed).end().appendTo(setImg);
        },switchDelay);
    });
    </script>
</html>